/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: "Times SPAA";
    src: url("/fonts/TimesSPAA-Semibold.woff2") format("woff2"),
    url("/fonts/TimesSPAA-Semibold.woff") format("woff")
    ;
}

@font-face {
    font-family: "Social Media Circled";
    src: url("/fonts/Social Media Circled.otf");
}

/* * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */

#__next {
    opacity: 0;
    transition: opacity 1s;
}

body {
    position: relative;
}


.body-lock {
    overflow: hidden;
}

html {
    line-height: 1;
}

:root {
    --transition-in: 0.2s;
    --transition-out: 0.3s;
    --lateral-padding: 0 20px;
}

.layout {
    padding: 200px 20px 0 20px;
    min-height: calc(100vh - 80.8px);
}

@media (max-width: 989px) {
    .layout {
        padding: 130px 20px 0 20px;
        min-height: calc(100vh - 231px);
    }   
}

.border-top::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    height: 1px;
    background: black;
    left: 20px;
}

.border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    height: 1px;
    background: black;
    left: 20px;
}

.active-link {
    color: #70706f;
}

a {
    cursor: pointer;
}

a:hover, button:hover {
    color: #70706f;
}

.button {
    display: inline-block;
    /* border: 1px solid black;
    border-radius: 999px;
    padding: 0.5em 0.7em;
    height: fit-content; */
    line-height: 1;
    cursor: pointer;
}

:root {
    --plyr-range-thumb-background: transparent;
    /* --plyr-video-progress-buffered-background: transparent; */
    --plyr-color-main: transparent;
    --plyr-range-thumb-shadow: transparent;
    --plyr-range-fill-background: white;
    --plyr-range-track-height: 2px;
    --plyr-tooltip-radius: 0;
    --plyr-tooltip-background: transparent;
    --plyr-tooltip-shadow: transparent;
    --plyr-tooltip-color: white;
    --plyr-video-controls-background: transparent;
  }

  .plyr__volume {
    width: auto !important;
    min-width: auto !important;
  }
  
  .plyr__tooltip {
    backdrop-filter: blur(100px);
  }


.plyr--full-ui input[type=range] {
    color: black !important;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: black !important;
}

.CookieConsent {
    background-color: #ffffff !important;
    border-top: 1px solid black !important;
  }
  
  .CookieConsent p {
    margin: 0;
    color: black;
  }

  
  .CookieConsent > div:nth-child(1) {
    margin: 10px !important;
  }
  
  @media (max-width: 989px) {
    .CookieConsent > div:nth-child(2) {
      margin-left: auto;
    }
  }
  
  .CookieConsent #rcc-decline-button,
  .CookieConsent #rcc-confirm-button {
    color: black !important;
    background: transparent !important;
    margin: 10px !important;
  }
  
  .CookieConsent #rcc-confirm-button {
    border: 1px solid black !important;
  }

  @media(min-width: 1800px) {
      html {
          max-width: 1800px;
          margin: 0 auto;
      }
  }

  header {
      background: white;
  }

    @media(min-width: 990px) {
        .body-lock header {
            background: transparent;
        } 
    }

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */

span {
    font-family: "Times SPAA";
}

h1, .h1 {
    font-family: "Times SPAA";
    /* font-size: 5rem; */
    font-size: 3.3rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h2, .h2 {
    font-family: "Times SPAA";
    /* font-size: 4rem; */
    font-size: 2.8rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h3, .h3 {
    font-family: "Times SPAA";
    /* font-size: 2.8rem; */
    font-size: 1.9rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h4, .h4 {
    font-family: "Times SPAA";
    /* font-size: 1.8rem; */
    /* font-size: 1.3rem; */
    font-size: 1rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h5, .h5 {
    font-family: "Times SPAA";
    /* font-size: 1.6rem; */
    /* font-size: 1.12rem; */
    /* font-size: 1.3rem; */
    font-size: 1rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h6, .h6 {
    font-family: "Times SPAA";
    /* font-size: 1.3rem; */
    font-size: 1rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
}


p, .p, a {
    font-family: "Times SPAA";
    /* font-size: 1.3rem; */
    font-size: 1rem;
    letter-spacing: 0.02em;
    font-weight: 100;
    margin: 10px 0;
    line-height: 1.1;
}

input, input::placeholder, button, .error-label, label {
    font-family: "Times SPAA";
    font-size: 1rem;
}

.text-input {
    border-radius: 0;
}

time {
    font-size: 1rem;
    /* letter-spacing: -0.02em; */
}

.caption {
    font-family: "Times SPAA";
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media(max-width: 768px) {
    h1, .h1 {
        font-family: "Times SPAA";
        font-size: 2.5rem;
        /* letter-spacing: -0.03em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    h2, .h2 {
        font-family: "Times SPAA";
        font-size: 2rem;
        /* letter-spacing: -0.04em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    h3, .h3 {
        font-family: "Times SPAA";
        font-size: 1.5rem;
        /* letter-spacing: -0.02em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    h4, .h4 {
        font-family: "Times SPAA";
        font-size: 1rem;
        /* letter-spacing: -0.02em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    h5, .h5 {
        font-family: "Times SPAA";
        font-size: 1rem;
        /* letter-spacing: -0.02em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    h6, .h6 {
        font-family: "Times SPAA";
        font-size: 1rem;
        /* letter-spacing: -0.02em; */
        font-weight: 100;
        margin: 0;
        line-height: 1;
    }
    
    p, .p {
        font-family: "Times SPAA";
        font-size: 1rem;
        /* letter-spacing: -0.02em; */
        font-weight: 100;
        margin: 10px 0;
        line-height: 1;
    }

    input, input::placeholder, button {
        font-family: "Times SPAA";
        font-size: 1rem;
    }

    time {
        font-size: 1rem;
        /* letter-spacing: -0.02em; */
    }
}
